@font-face {
    font-family : myfont;
    src: url(../font/Caveat/Caveat-VariableFont_wght.ttf);
}



body {
    margin: 0px;
    padding: 0px;
}

.container {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.con-nav {
    /* background-color: antiquewhite; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.con-card {
    /* background-color: cadetblue; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-bar {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.669);
    width: 80%;
    height: 50%;
    display: flex;
}

.logo {
    /* background-color: aqua; */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
.logo > h2{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", "Noto Sans Khmer", arial, sans-serif;
}

.nav {
    /* background-color: aliceblue; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.669);
    width: 260px;
    height: 330px;
    border-radius: 10px;
    padding: 10px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.con-icons {
    /* background-color: bisque; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon-card {
    font-size: 50px;
    color: black !important;
}

.icons {
    background-color: rgba(255, 255, 255, 0.669);
    padding: 10px;
}

.my-icon {
    font-size: 30px;
    color: black !important;
}
.menu{
    display: none;
}
.li-icon{
    display: none !important;
}
.title{
    font-size: 30px;
    font-weight: bold;
    font-family: "Caveat", cursive;
}
.li-text{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", "Noto Sans Khmer", arial, sans-serif;
    cursor: pointer;
}
.dis{
    font-family: myfont;
    font-size: 20px;
    font-weight: 700;
}






@media screen and (max-width:768px){
   .con-card {
        display: flex
;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* .nav{
        display: none;
    }
    .menu{
        display: block;
        margin: 10px;
    } */

    .container{
        height: auto;
    }
    .li-text{
        display: none;
        
    }
    .li-icon{
        display: block !important;
        cursor: pointer;

    }
    .nav{
        display: flex;
        align-items: center;
    }
    .con-icons{
        padding-bottom: 20px;
    }
}